<% let l; if (language == 'en') { l = 0; } else { l = 1; } %>

<div class="bodyTextContainer">
    <% for (let w = 0; w < pageData.accordion.artacc.panel.length; w++) { %>
        <div class="accordion accordionBtn">
            <h3><%- pageData.accordion.artacc.panel[w].title[l] %></h3>
        </div>
        <div class="panel">
            <p><%- pageData.accordion.artacc.panel[w].body[l] %></p>
            <%- pageData.accordion.artacc.panel[w].images %>
            <%- pageData.accordion.artacc.panel[w].button[l] %>
        </div>
    <% } %>
</div>

<div class="spacerS"></div>