<% let l; if (language == 'en') { l = 0; } else { l = 1; } %>

<div class="fullWidthBanner onomatoPedalBanner">
    <p class="smallTitleCTA"><%= pageData.global.cta.op.subTitle[l] %></p>
    <p class="mainCopyCTA"><%= pageData.global.cta.op.mainCopy[l] %></p>
    <a href="https://onomatopedal.com/" target="_blank" style="text-decoration: none;">
    <button class="buttonStroke smallButton">PLAY</button></a>
</div>