<div class="fullWidthBanner catalogSearchBanner">
    <p class="smallTitleCTA">PB APP : CATALOG</p>
    <p class="mainCopyCTA">Search Music with the Feeling</p>
    <a href="http://catalog.patternbased.com/" target="_blank" style="text-decoration: none;">
    <button class="buttonStroke smallButton">TRY BETA</button></a>
</div>