<nav>
    <div class="headeritem" id="pbLogo">
        <a href="/">
            <img src="/images/global/PatternBased_Logo_FB3640.svg" alt="PatternBased">
        </a>
    </div>
    <div class="headeritem" id="menuicon">
        <img src="/images/global/Menu_Icon.svg">
    </div>
    <div class="headeritem" id="nav">
        <div class="headeritem" id="closeicon">
          <img src="">
        </div>
        <div class="dropdownNav">
          <button class="dropbtnNav"><a class="navMusic" href="">Music</a></button>
          <div class="dropContentNav">
            <a class="navMusic" href="">Music</a>
            <a class="dim" href="http://albums.patternbased.com/" target="_blank">Albums</a>
            <a class="dim" href="http://catalog.patternbased.com/" target="_blank">Catalog</a>
          </div>
        </div>
        <a class="navArt navItem" href="">Multimedia</a>
        <!-- <div class="dropdownNav">
          <button class="dropbtnNav">
            <a class="navArt" href="">Art</a>
           </button>
          <div class="dropContentNav">
            <a class="navArt" href="">Art</a>
            <a class="dim" id="navApps" href="">PB Apps</a>
            <a class="dim" id="navDataViz" href="">Data Viz</a class="dim">
          </div>
        </div> -->
        <div class="dropdownNav">
          <button class="dropbtnNav"><a class="navAbout" href="">About</a></button>
          <div class="dropContentNav">
            <a class="navAbout" href="">About PB</a>
            <a id="navArtists" class="dim" href="">Artists</a class="dim">
            <a id="navTools" class="dim" href="">Tools</a class="dim">
          </div>
        </div>
          <a id="navMerch" class="navItem" href="http://patternbased.com/merch/">Merch</a>
          <a id="navContact" class="navItem" href="http://patternbased.com/contact/">Contact</a>
      </div>
      <div class="headeritem language">
        <img id="English" src="/images/global/English-SL.svg" alt="English">
        <img id="japanese" src="/images/global/Japanese.svg" alt="Japanese">
      </div>

</nav>