<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body class="frontpage">
  <%- include('./partials/nav.ejs') %>

    <div class="content fullWidthBanner homeHero">
      <div class="homeSlides" id="homeslide-1">
        <h4>FEATURED APP : PB CATALOG</h4>
        <h2>Explore, Play, Share and License</h2>
        <a href="http://catalog.patternbased.com/" target="_blank" style="text-decoration: none;">
        <button class="buttonStroke smallButton">TRY BETA</button></a>
      </div>
      <div class="homeSlides" id="homeslide-2">
        <h4>FEATURED SOUNDTRACK : DAEWON</h4>
        <h2>Daewon Summer</h2>
        <a href="http://patternbased.com/portfolio/daewon.html" style="text-decoration: none;">
        <button class="buttonStroke smallButton">WATCH & LISTEN</button></a></div>
      <!-- <div class="homeSlides" id="homeslide-3">
        <h4>FEATURED APP : ONOMATOPEDAL</h4>
        <h2>Interactive Audio Visual Playground</h2>
        <a href="https://onomatopedal.com/" target="_blank" style="text-decoration: none;">
        <button class="buttonStroke smallButton">PLAY ONLINE</button></a>
      </div> -->
      <!-- <div class="homeSlides homeSlidesDark" id="homeslide-3">
        <h4>FEATURED APP : STRANGERS IN MY HEAD</h4>
        <h2>Animated Data-visualization of Mental Health</h2>
        <a href="http://strangersinmyhead.info/" target="_blank" style="text-decoration: none;">
        <button class="buttonStroke buttonStrokeDark smallButton">SEE ONLINE</button></a>
      </div> -->
      <div class="homeSlides" id="homeslide-3">
        <h4>FEATURED SOUNDTRAC : CHEER TUNES</h4>
        <h2>Scored for Netflix CHEER Season2</h2>
        <a href="http://strangersinmyhead.info/" target="_blank" style="text-decoration: none;">
        <button class="buttonStroke smallButton">WATCH & LISTEN</button></a>
      </div>

      <div class="sliderSideButtons slideLeft" onclick="plusDivs(-1)">&#10094;</div>
      <div class="sliderSideButtons slideRight" onclick="plusDivs(+1)">&#10095;</div>
    </div>

    <div class="spacerM"></div>

  <div class="bodyWideContainer">
    <h2 class="textCenter">Work and Collaborations</h2>
    <div class="filters" id="filterContainer">
      <button class="filterItem" id="all">ALL</button>
      <button class="filterItem" id="music">Music</button>
      <button class="filterItem" id="scores">Scores</button>
      <button class="filterItem" id="ads">Ads</button>
      <button class="filterItem" id="album">Album</button>
      <button class="filterItem" id="art">Art</button>
      <button class="filterItem" id="code">Code</button>
      <button class="filterItem active" id="featured">Featured</button>
    </div>
  </div>

  <div class="gridWideBlock" id="portfolioList">
    <% for (let p = 0; p < 8; p++) { %>
      <a href="#">
        <div class="portfolio portfolioClasses" id="portfolioId" style="background:#111; background-size:cover;">
          <h3>PortfolioName</h3>
        </div>
      </a>
    <% } %>
  </div>

  <div class="spacerS"></div>

  <%- include('./partials/cta-pbcatalog.ejs') %>

  <div class="spacerM"></div>

  <div class="bodyTextContainer">
    <img class="logoHeightSmall" src="/images/global/PatternBased_Logo_FB3640.svg">
  </div>
  <div class="bodyTextContainer">
      <p class="textCenter">PatternBased is Music and Art. <br />We compose, create and design music, sound, visual art, apps, objects, and experiences. <br />We love challenges and unknowns, as well as our go-to core mediums.</p>
</div>

<div class="spacerS"></div>

<div class="gridFour">
  <div class="oneFour coreMediums">
    <object type="image/svg+xml" data="images/about/composition.svg"></object>
    <h3>Composition</h3>
  </div>
  <div class="oneFour coreMediums">
    <object type="image/svg+xml" data="images/about/sounddesign.svg"></object>
    <h3>Sound Design</h3>
  </div>
  <div class="oneFour coreMediums">
    <object type="image/svg+xml" data="images/about/albums.svg"></object>
    <h3>Albums</h3>
  </div>
  <div class="oneFour coreMediums">
    <object type="image/svg+xml" data="images/about/catalogsearch.svg"></object>
    <h3>Catalog</h3>
  </div>

  <div class="oneFour coreMediums">
    <object type="image/svg+xml" data="images/about/multimediaart.svg"></object>
    <h3>Multimedia Art</h3>
  </div>
  <div class="oneFour coreMediums">
    <object type="image/svg+xml" data="images/about/datavisualization.svg"></object>
    <h3>Data Viz</h3>
  </div>
  <div class="oneFour coreMediums">
    <object type="image/svg+xml" data="images/about/apps2.svg"></object>
    <h3>Apps / UX</h3>
  </div>
  <div class="oneFour coreMediums">
    <object type="image/svg+xml" data="images/about/design.svg"></object>
    <h3>Design</h3>
  </div>
</div>

<div class="spacerS"></div>

<div class="bodyTextContainer">
  <a href="about/artists.html" style="text-decoration: none;"><button class="buttonFill largeButton">MEET ARTISTS</button></a>
</div>

<div class="spacerL"></div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>

<script>
  var slideIndex = 0;

var frontPageCondition = $('body').is('.frontpage');
if (frontPageCondition == true) {
  carousel();
  showDivs(slideIndex);
} else {}

function carousel() {
  var i;
  var homeSlides = document.getElementsByClassName("homeSlides");
  for (i = 0; i < homeSlides.length; i++) {
    homeSlides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > homeSlides.length) {slideIndex = 1}
  homeSlides[slideIndex-1].style.display = "block";
  setTimeout(carousel, 5000); // Change image every 2 seconds
}

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var homeSlides = document.getElementsByClassName("homeSlides");
  if (n > homeSlides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = homeSlides.length}
  for (i = 0; i < homeSlides.length; i++) {
    homeSlides[i].style.display = "none";  
  }
  homeSlides[slideIndex-1].style.display = "block";  
}
</script>